body {
    font-family: Arial;
    background:#f3f3f3;
    margin:0;
    padding:0;
}

.checkout-container {
    display:flex;
    gap:20px;
    padding:20px;
}

.left-column, .right-column {
    background:white;
    padding:20px;
    border-radius:8px;
}

.left-column {
    width:65%;
}

.right-column {
    width:30%;
    height: fit-content;
}

.section {
    margin-bottom:30px;
}

.section input {
    width:100%;
    padding:8px;
    margin:5px 0;
    border:1px solid #ccc;
    border-radius:4px;
}

#placeOrderBtn {
    width:100%;
    padding:12px;
    background:#f08804;
    color:white;
    border:none;
    border-radius:6px;
    font-size:18px;
    cursor:pointer;
}

#placeOrderBtn:hover {
    background:#d37804;
}
